RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(gif|jpg|png|jpeg|css|js|swf)$ ./public/$1.$2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ./public/index.php?q=$1


