input,button,textarea,select {
    color:inherit;
    font-size:inherit;
    font-style:inherit;
    font-family:inherit;
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-padding-start:0;
    align-items:flex-start;
    text-index:0;
    border:none;
    outline:none;
    background:none;
    padding:0;
    margin:0;
    width:auto;
    height:auto;
    line-height:1em;
}

/* inputs appearance (not for every input)  */
input[type=text],input[type=reset],input[type=password],input[type=search],input[type=email],input[type=tel],input[type=url],input[type=time],input[type=week],input[type=month],input[type=date],input[type=datetime],input[type=datetime-local],input[type=number],
input[type=submit],input[type=reset],input[type=color],input[type=file],
button,textarea,select {
    height:117px;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
