body {
    background: url(./images/last.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movin {
    margin-left: 8%;
    margin-top: 2%;
}

.movin a {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.tools {
    display: flex;
    flex-direction: row;
    margin-right: 16%;
    margin-top: 2%;
}

.tools a {
    color: white;
    margin-right: 20%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.big-container {
   margin-top: 15%;
}

.line-container {
    display: flex;
    flex-wrap: wrap;
}

.movies-infos {
    margin: 2% 5%;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 10px 1px #c5c8cc; 
}

.infos {
    width: 85%;
    margin-left: 7.5%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32.5%;
}

.text {
    width: 55%;
    height: 35px;
    font-size: 3em;
    text-align: center;
    font-family: STHeitiSC-Light;
    color: black;
    letter-spacing: 0.01px;
}

.title, .overview, .see-more {
    font-family: STHeitiSC-Light;
    letter-spacing: 0.01px;
}

.overview {
    color: #373737;
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.title {
    margin-bottom: 4%;
    margin-top: 6%;
    font-size: 2em;
}

.see-more {
    color: #B50000;
    top: 80%;
}

.results {
    margin-left: 5%;
    font-size: 3em;
    font-family: STHeitiSC-Light;
    color: #1D1D1D;
    letter-spacing: 0.01px;
}

#on {
    display: none;
    transition: ease-in-out 0.5s;
    width: 256px;
}

#on img {
    position: absolute;
    width: 256px;
    height: 118px;
}

.off {
    transition: ease-in-out 0.5s;
}

.submit {
    position: relative;
    cursor: pointer;
    width: 256px;
    opacity: 0;
}

.align-button {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around flex-end;
}

.see-button {
    width: 100%;
    height: 4.5%;
}

.see-button a {
    margin-left: 7.5%;
}


